body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $primary-color;
  background-color: $white-color;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
